{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Photo - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: PhotoFolio
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/index" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-camera"></i>
        <h1>Photo</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/about" class="active">About</a></li>
          <li class="dropdown"><a href="#"><span>Gallery</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/gallery">Nature</a></li>
              <li><a href="/gallery">People</a></li>
              <li><a href="/gallery">Architecture</a></li>
              <li><a href="/gallery">Animals</a></li>
              <li><a href="/gallery">Sports</a></li>
              <li><a href="/gallery">Travel</a></li>
              {% comment %} <li class="dropdown"><a href="#"><span>Sub Menu</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 3</a></li>
                </ul>
              </li> {% endcomment %}
            </ul>
          </li>
          <li><a href="/services">Services</a></li>
          <li><a href="/viewcart ">Cart</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/aqiiiib__01?igsh=MzRlODBiNWFlZA==" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>About</h2>
            <p>Photography is the art, application, and practice of creating images by recording light, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film. It is employed in many fields of science, manufacturing (e.g., photolithography), and business, as well as its more direct uses for art, film and video production, recreational purposes, hobby, and mass communication.[1]

Typically, a lens is used to focus the light reflected or emitted from objects into a real image on the light-sensitive surface inside a camera during a timed exposure. With an electronic image sensor, this produces an electrical charge at each pixel, which is electronically processed and stored in a digital image file for subsequent display or processing. The result with photographic emulsion is an invisible latent image, which is later chemically "developed" into a visible image, either negative or positive, depending on the purpose of the photographic material and the method of processing. A negative image on film is traditionally used to photographically create a positive image on a paper base, known as a print, either by using an enlarger or by contact printing</p>

            {% comment %} <a class="cta-btn" href="contact.html">Available for hire</a> {% endcomment %}

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <div class="md-3">
             <img src="{% static 'assets/img/IMG_20200102_135207.jpg' %}" class="img-fluid" alt="" width="100%">&nbsp;
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="md-3">
            <img src="{% static 'assets/img/forest4.jpg' %}" class="img-fluid" alt="" width="100%">&nbsp;
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="md-3">
            <img src="{% static 'assets/img/gallery/salvator1.webp' %}" class="img-fluid" alt="" width="100%">
          </div>
          </div>
          
          <div class="col-lg-5 content">
            <h2>Professional Photographer from India(Mumbai)</h2>
            <p class="fst-italic py-3">
              I am Aaqib Farooqui from Mumbai.I am a Professional Photographer.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>12 April 2002</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.aaqibfarooqui.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+9180 7075 3143</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>India, Mumbai</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>aaqibfarooqui0.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              As a professional photographer and Gallery Manager, Aaqib Farooqui has honed his craft to perfection, navigating the delicate balance between technical precision and creative expression. His portfolio is a captivating showcase of versatility, ranging from evocative portraits that reveal the depth of human emotion to stunning landscapes that transport viewers to breathtaking vistas. </p>
            <p class="m-0">
             What sets Farooqui apart is his unwavering commitment to storytelling through imagery. Each photograph is a narrative in itself, weaving together elements of composition, lighting, and subject matter to create a visual symphony that resonates with viewers on a profound level.

In an ever-evolving industry, Aaqib Farooqui stands as a beacon of inspiration for aspiring photographers, demonstrating that true artistry lies not only in capturing moments but in crafting them into visual stories that endure. His name has become synonymous with excellence in photography, leaving an indelible mark on the profession and enriching the visual tapestry of the world. </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>What they are saying</p>
        </div>

        <div class="slides-3 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                 Aaqib Farooqui, a seasoned professional photographer, captures moments with a distinctive touch. His lens transforms scenes into powerful visual narratives, revealing depth and emotion. Aaqib's dedication to the craft is evident in his ability to craft stunning compositions that resonate with viewers, making him a standout in the world of photography.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/aqib.jpg' %}" class="testimonial-img" alt="">
                  <h3>Aaqib Farooqui</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                 Shaban Shaikh, a visionary designer, infuses creativity into every project, seamlessly blending aesthetics with functionality. With a keen eye for detail and a passion for innovative design, he crafts visually captivating solutions. Shaban Shaikh's work reflects a commitment to excellence, leaving an indelible mark in the world of design.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/shaban.jpg' %}" class="testimonial-img" alt="">
                  <h3>Shaban Shaikh</h3>
                  <h4>Designer</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  
Subodh, a dedicated store owner, curates a shopping experience defined by quality, variety, and personalized service. His establishment reflects a commitment to customer satisfaction, offering a diverse range of products that meet the unique needs of every shopper. Subodh's store is a destination where quality and convenience converge seamlessly.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/subodh1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Subodh</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Arslan Parvez, a versatile freelancer, navigates the professional landscape with skill and adaptability. Whether tackling creative projects or providing expert services, Arslan's dedication shines through. His freelance expertise is marked by a commitment to delivering high-quality results and a passion for meeting diverse client needs with precision and efficiency.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/arslan.jpg' %}" class="testimonial-img" alt="">
                  <h3>Arslan Parvez</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Sameer Shaikh, a dynamic entrepreneur, pioneers innovation with a strategic vision. His ventures reflect a commitment to excellence, navigating challenges with resilience and foresight. Sameer's entrepreneurial spirit is marked by a relentless pursuit of success, creating impactful solutions and contributing to the evolving landscape of business with ingenuity and determination.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Sameer Shaikh</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Aaqib Farooqui</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/ -->
        Designed by <a href="https://www.instagram.com/aqiiiib__01?igsh=MzRlODBiNWFlZA==">Aaqib Farooqui</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>