<div class="row mt-4">
        
    <div class="col-md-4">
        <h5>About</h5>
        <hr>
 
Art transcends boundaries, weaving narratives that speak to the soul. It's an expression of humanity's deepest emotions, thoughts, and dreams, immortalized in strokes, hues, and shapes. From the enigmatic smile of Mona Lisa to the vibrant chaos of Jackson Pollock's splatters, each piece reflects the essence of its creator and the spirit of its time.
    </div>

    
    <div class="col-md-4">
        <h5>Quick links</h5>
        <hr>

        <p><a href="/index" class="anchor">Home</a></p>
        <p><a href="/about" class="anchor">About</a></p>
        <p><a href="/viewcart" class="anchor">cart</a></p>
        <p><a href="/contact" class="anchor">Contact</a></p>
    </div>
    <div class="col-md-4">
        <h5>Contact</h5>
        <hr>

        <h5><a href="https://www.facebook.com/"><i class="bi bi-facebook text-danger"></i></a>&nbsp;&nbsp;&nbsp;
        </h5>
        <h5><a href="https://www.instagram.com/aqib.farooqui.92/">
            <i class="bi bi-instagram text-danger"></i></a>&nbsp;&nbsp;&nbsp;</h5>
        <h5><a href=""><i class="bi bi-twitter-x text-danger"></i></a>&nbsp;&nbsp;&nbsp;</h5>
        <h5><a href="https://www.linkedin.com/feed/">
            <i class="bi bi-linkedin text-danger"></i></a>&nbsp;&nbsp;&nbsp;</h5>
    </div>
</div>
</div>